body { 
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.navbar { 
    background-color: #d52e3f;
    font-family: 'Limelight', cursive;
    font-size: 2rem;
}
.navbar-brand {
    font-size: 5rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    color: #fcedd8;
    background: #d52e3f;
    font-family: 'Limelight', cursive; 
    font-weight: 700;
    text-shadow: black
}

.card { 
    border-color: #46b59b;
}

.card-title { 
    color:#052939;
}

.btn-primary {
    background-color:#052939;
    border:#46b59b; 
    color: #46b59b; 
}
.no-button{ 
    background: #d52e3f;
    border:none;
    color: rgba(255,255,255,.5);
}